
        <form>
        <div class="row">
        <div class="col-md-4">  
        <mat-form-field class="wide-form-field" appearance="outline">
        <mat-label>name</mat-label>
        <input matInput placeholder="Placeholder">
        </mat-form-field></div>
        <div class="col-md-4">
            <mat-form-field class="wide-form-field" appearance="outline">
        <mat-label>Adress</mat-label>
        <input matInput placeholder="Placeholder">
        </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="wide-form-field" appearance="outline">
        <mat-label>city</mat-label>
        <input matInput placeholder="Placeholder">
        </mat-form-field>
        </div>
        </div>
        </form>
  
