.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.content{
  padding:  24px !important;

}
mat-sidenav-container{
  height: calc(100vh - 64px);
}
.sidenav-header{
  padding-top: 24px ;
  text-align: center;
    .img{
      border-radius: 100% !important;
      object-fit : cover;
      margin-bottom:  10px 


  }
.header-text {
  h2 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  p {
    margin: 0;
    font-size: 0.8rem;
  }
}
  }

  mat-sidenav-content{
    background-color: rgb(85, 83, 83);
  }
