<div class="row">
    <div class="col-md-3 col-sm-6">
  <mat-card class="bg-info">
  <div class="d-flex justify-content-between align-items-center text-light mb-0 mt-2">
    <p class="ms-2 fs-5 mb-0 ">
      25K (-12.4%)
    </p>
    <p class="me-2 mb-0">
      <mat-icon matListItemIcon>more_vert</mat-icon>
    </p>
  </div>
  <p class="ms-2 fs-5 text-light mb-0">Users</p>
  <div class="mt-1">
       <img src="https://quickchart.io/chart?c={type:'line',data:{labels:['Jan','Feb','Mar','Apr'],datasets:[{label:'Users',data:[30,20,40,25]}]}}" 
         alt="Line Chart" width="250" height="100" class="ms-3">
  </div>
</mat-card>
    </div>
    <div class="col-md-3 col-sm-6">
       <mat-card class="bg-primary">
            <div class="d-flex justify-content-between align-items-center text-light mb-0 mt-2">
                <p class="ms-2 fs-5 mb-0 ">
                $6.200 (40.9%)
                </p>
                <p class="me-2 mb-0">
                <mat-icon matListItemIcon>more_vert</mat-icon>
                </p>
            </div>
            <p class="ms-2 fs-5 text-light mb-0">Income</p>
            <div class="mt-1">
                <img src="https://quickchart.io/chart?c={type:'bar',data:{labels:['Jan','Feb','Mar','Apr'],datasets:[{label:'Users',data:[10,20,30,25]}]}}" 
                    alt="Line Chart" width="250" height="100" class="ms-3">
            </div>
        </mat-card>
        </div>
    <div class="col-md-3 col-sm-6">
        <mat-card class="bg-warning">
        <div class="d-flex justify-content-between align-items-center text-light mb-0 mt-2">
        <p class="ms-2 fs-5 mb-0 ">
        2.49 (84.7%)
        </p>
        <p class="me-2 mb-0">
        <mat-icon matListItemIcon>more_vert</mat-icon>
        </p>
        </div>
        <p class="ms-2 fs-5 text-light mb-0">Conversion Rate</p>
        <div class="mt-1">
        <img src="https://quickchart.io/chart?c={type:'sparkline',data:{datasets:[{data:[140,60,274,370,199]}]}}" 
        alt="Line Chart" width="250" height="100" class="ms-3">
        </div>
        </mat-card>
    </div>
    <div class="col-md-3 col-sm-6">
        <mat-card class="bg-secondary">
        <div class="d-flex justify-content-between align-items-center text-light mb-0 mt-2">
        <p class="ms-2 fs-5 mb-0 ">
        44k (-23.4%)
        </p>
        <p class="me-2 mb-0">
        <mat-icon matListItemIcon>more_vert</mat-icon>
        </p>
        </div>
        <p class="ms-2 fs-5 text-light mb-0">Sessions</p>
        <div class="mt-1">
        <img src="https://quickchart.io/chart?c={type:'bar',data:{labels:['Jan','Feb','Mar','Apr'],datasets:[{label:'Users',data:[30,20,40,25]}]}}" 
        alt="Line Chart" width="250" height="100" class="ms-3">
        </div>
        </mat-card>
    </div>
</div>


<div class="row mt-3">
    <div class="col-md-6 col-12">
        <mat-card>
            <p class="ms-3 mt-3">
                hello
            </p>
        </mat-card>
    </div>
    <div class="col-md-6 col-12">
        <mat-card>
              <p class="ms-3 mt-3">
                hello
            </p>
        </mat-card>
    </div>

</div>