/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header-class{
    background-color: white !important;
    border-radius:  0px !important;
    height: 50px !important;
    overflow: hidden !important;
}
mat-card{
    background-color: white !important;
    color: black;
    border-radius:  5px !important;
}